		   *{
				margin: 0;
				padding: 0;
			}
			body{
				width: 1353px;
				height: 2000px;
				margin: auto;
				position: relative;
				
			}
			#header{
				width: 1353px;
				height: 105px;
				background:#ffffff;
			}
			#logo{
				float: left;
				margin-left: 45px;
				margin-top: 18px;
			}
			#client{
				width: 72px;
				height: 25px;
				position: absolute;
				right: 470px;
				top: 20px;
			}
			#client img{
				width: 14px;
				height: 25px;
				position: absolute;
			}
			#client p{
				font-size: 14px;
				right: 0;
				float: right;
				margin-right: 0;
				margin-top: 4px;
				color: #000000;
			}
			#saoMa{
				width: 315px;
				height: 220px;
				background: #FFFFFF;
				position: absolute;
				top: 35px;
				left: -115px;
				z-index: 1;
				border: #808080 1px solid;
				display: none;
			}
			#search{
				width: 221px;
				height: 30px;
				float: right;
				margin-right: 215px;
				margin-top: 18px;
			}
			#search input{
				width: 220px;
				height: 28px;
				padding: 0;
				margin: 0;
				border: 1px #55b829 solid;
				border-right: none;
				outline: none;
			}
			#search img{
				position: absolute;
				float: right;
				margin-right: -40px;
				width: 40px;
				height: 30px;
				padding: 0;
				font-size: 0;
			}
			#register{
				width: 76px;
				height: 14px;
				position: absolute;
				right: 47px;
				top: 25px;
			}
			#register #enter{
				font-size: 14px;
				padding: 0;
				position: absolute;
				left: 0;
				color: black;
			}
			#register #login{
				font-size: 14px;
				padding: 0;
				position: absolute;
				right: 0;
				color: #000000;
			}
			 #p3{
				font-size: 16px;
				position: absolute;
				left: 36px;
				top: -2px;
			}
			#navigation{
				width: 570px;
				height: 16px;
				position: absolute;
				left: 0px;
				top: 75px;
				padding: 0;
				padding: 0;
			}
			#navigation li{
				width: auto;
				height: 16px;
				font-size: 16px;
				float: left;
				margin-left: 40px;
				margin-top: 0;
				color: black;
				list-style: none;
				padding: 0;
			}
			#navigation li:hover{
				color: #55B829;
			}
			#navigation2{
				width: 295px;
				height: auto;
				position: absolute;
				right: 50px;
				top: 75px;
				padding: 0;
			}
			#navigation2 li{
				width: auto;
				height: 14px;
				color: #666666;
				float: left;
				margin-left: 20px;
				margin-top: 0;
				font-size: 14px;
				list-style: none;
			}
			#navigation2 #more{
				width: auto;
				height: 14px;
				color: #666666;
				position: absolute;
				right: 0;
				top: 0;
				list-style: none;
			}
			#more1{
				width: 125px;
				height: 100px;
				position: absolute;
				right: 0;
				top: 30px;
				z-index: 2;
				background: #ffffff;
				display: none;
			}
			#more1 li{
				width: 105px;
				float: left;
				margin-left: 0;
				padding: 9px;
				text-align: center;
				color: black;
			}
			#navigation2 li:hover{
				color: #55B829;
			}
			#navigation2 #more:hover{
				color: #55B829;
			}
			#main{
				width: 1353px;
				height: 470px;
				background: wheat;
				padding: 0;
				margin: 0;
				position: absolute;
				border-radius: 5px 5px 5px 5px;
			}
			#colleges{
				width: 1353px;
				height: 60px;
				position: absolute;
				bottom: 0;
				background: #ffffff;
			}
			#colleges p{
				width: auto;
				height: 16px;
				font-size: 16px;
				color: #55B829;
				float: left;
				margin-left: 95px;
				margin-top: 20px;
			}
			#colleges img{
				width: auto;
				height: auto;
				float: left;
				margin-left: 103px;
				margin-top: 15px;
			}
			#lunBo{
				width: 1353px;
				height: 410px;
				background: skyblue;
				position: absolute;
				overflow: hidden;
				border-radius: 5px 5px 5px 5px;
			}
			#menu{
				width: 200px;
				height: 867px;
				background: #000000;
				opacity: 0.9;
				filter: alpha(opacity=90);
				position: absolute;
				left: 45px;
				z-index: 99;
			}
			#menu li{
				padding: 10px;
				width: 180px;
				height: 26px;
				list-style: none;
				font-size: 16px;
				color: #FFFFFF;
				float: left;
				margin-left: 0px;
				list-style: none;
			}
			#menu li p{
				width: auto;
				height: auto;
				position: absolute;
				left: 60px;
			}
			#goin{
				width: 200px;
				height: 280px;
				background: #dfd9ff;
				position: absolute;
				top: 50px;
				right: 45px;
			}
			#goin span{
				width: 145px;
				height: 35px;
				text-align: center;
				color: #000000;
				font-size: 16px;
				position: absolute;
				top: 25px;
				left: 28px;
			}
			#goin img{
				width: 90px;
				height: 90px;
				position: absolute;
				left: 56px;
				top: 85px;
			}
			#goin #button{
				width: 160px;
				height: 35px;
				background: #55B829;
				position: absolute;
				left: 20px;
				top: 195px;
			}
			#button span{
				color: #FFFFFF;
				font-size: 16px;
				position: absolute;
				top: 65%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			#goin #button:hover{
				background: chartreuse;
			}
			#goin p{
				width: 145px;
				height: 13px;
				font-size: 12px;
				position: absolute;
				left: 28px;
				bottom: 15px;
				color: #808080;
			}
			#fixed{
				height: 443px;
				width: 42px;
				position: fixed;
				right: 20px;
				bottom: 40px;
			}
			#shuFu{
				width: auto;
				height: auto;
				position: absolute;
				bottom: 176px;
				left: 0;
			}
			#sign{
				width: 40px;
				height: 50px;
				background: #55B829;
				position: absolute;
				bottom: 108px;
				left: 1px;
				z-index: 5;
			}
			#sign p{
				font-size: 14px;
				width: 14px;
				height: 30px;
				position: absolute;
				top: 7px;
				left: 13px;
				padding: 0;
				color: #FFFFFF;
			}
			#signWord{
				width: 200px;
				height: 110px;
				position: absolute;
				right: 50px;
				top: 250px;
				background: #FFFFFF;
				display: none;
				border: #808080 1px solid;
			}
			#signWordSpan1{
				width: 160px;
				height: 15px;
				font-size: 16px;
				position: absolute;
				top: 20px;
				left: 18px;
				text-align: center;
				color: #000000;
			}
			#signWordSpan2{
				width: 170px;
				height: auto;
				font-size: 12px;
				position: absolute;
				bottom: 20px;
				left:14px;
				text-align: center;
				color: #666666;
				padding: 2px;
			}
			#advice{
				width: 42px;
				height: 42px;
				position: absolute;
				bottom: 42px;
				padding: 0;
				left: 0;
			}
			#lesson{
				width: 42px;
				height: 42px;
				position: absolute;
				bottom: 0px;
				left: 0;
				padding: 0;
			}
			#turnBack{
				width: 42px;
				height: 42px;
				position: absolute;
				bottom: -42px;
				left: 0;
				display: none;
			}
			#advice1 {
				width: 42px;
				height: 42px;
				position: absolute;
				bottom: 45px;
				left: 0;
                background: #55B829;
				display: none;
				z-index: 5;
			}
			#lesson1{
				width: 42px;
				height: 42px;
				position: absolute;
				bottom: 0px;
				left: 0;
				background: #55B829;
				display: none;
				z-index: 5;
			}
			#pic{
				width: 900px;
				height: 410px;
				position: absolute;
				left: 260px;
			}
			#pic img{
				width: 830px;
				height: 410px;
			}